<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
	 <style type="text/css">
		hr {color:sienna;}
		p {margin-left:20px;}
		h1 {color:#e00000;}
		h2 {color:#0000e0;}
		a {color:#e00000;}
</style>
   <title>
      Errata Feed
   </title>
   <h1>
	   OpenBSD Errata		
	</h1>   
 </head>
 <body>

<h1>Attention</h1>
<h3>This site is going away.</h3>
<p>Google is deprecating the Python 2.5 environment for app engine.
Since I do not have time to update the site to the new Python environment, 
I am going to have to let the site go away.</p>
<p>Fortunately, OpenBSD 6.1 will have  <a href="http://man.openbsd.org/syspatch.8">syspatch</a>,so manual patching will no longer be required.</p>


	 <p>The OpenBSD errata pages are parsed 
	  and converted into an XML RSS
   Feed. <br />  
   Each release has it's own feed. <br />
   Or, there is a feed with 
   <a href="/feed/all">all</a>  the errata.
   <br/>
   This site runs on Google appengine and the 
   <a href="https://gitlab.com/norrist/erratacheck/tree/master">code </a>
   is available.
   </p>
   <p>
   <hr>
   <h2>All Errata</h2>
   <ul><li>
   <a href="/feed/all">RSS Feed</a>
   </li></ul>
   </p>
   {% for feed in feeds %}
   <hr>
   <h2>{{ feed.bsd_version }}</h2>
   <ul>
	   <li><a href="/feed/{{ feed.bsd_version }}">RSS Feed</a></li>	
	   <li>Errata Page - <a href="{{ feed.url }}">{{ feed.url }}</a></li>
	   <ul>
	    {% for patch in patches %} 
			{% ifequal feed.bsd_version patch.bsd_version %}
			<li> {{ patch.patch_text }} <br/> </li>
			{% endifequal %}
	     
	    {% endfor %} 
		</ul>
	
	</ul>
   {% endfor %}
 </body>
</html>
